* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}

header h2 {
  padding: 2rem;
}

#logo {
  text-decoration: none;
  color: black;
}

.search-form {
  display: flex;
  padding: 2rem;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(89, 89, 161);
}

.search-form button {
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  background-color: rgb(89, 89, 161);
  color: white;
  cursor: pointer;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(92, 92, 92);
  padding: 0.5rem;
}

.gallery-info a {
  color: rgb(92, 92, 92);
}

.gallery-info a:first-child {
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
  padding: 2rem 0rem;
}

.gallery-img,
.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 2.1rem;
  background-color: rgb(89, 89, 161);
  color: white;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

@media (max-width: 450px) {
  .search-form input {
    font-size: 1.2rem;
  }

  .search-form button {
    font-size: 1rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 80%;
    margin: auto;
    row-gap: 3rem;
    column-gap: 2rem;
    padding: 1.5rem 0rem;
  }

  .more {
    padding: 1rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
  }
}
